body {
    margin: 0;
}

.margen {
    margin: 100px;
}

.tabla {
    width: 100%;
    text-align: left;
}

.tabla td {
    padding: 10px 0px;
}

#menu {
    background-color: #253A46;
    padding: 20px;
    font-size: 20px;
}

#menu a {
    color: #FFFFFF;
    padding-right: 50px;
}